#title{
    background-color: #ff4c68;
    color: #fff;
}

body{
    font-family: "Montserrat";
}

h1{
    font-family:"Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigaton Bar */

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 4.5rem;
  }

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: lighter;
}

/* Download Button */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
}

/* Feature Section */

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

h3{
    font-family: "Montserrat";
    font-size: 1.25rem;
    font-weight: 900;
}
p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/*Testimonial & PRESS*/
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    
}
h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 15px;
}

.carousel-item{
    padding:  7% 15%;
}

/*PRICING*/
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/*CALL TO ACTION*/
#cta{
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding:  3% 15% 1% 15%;
}

.text{
    font-size: 3rem;
}


@media (max-width: 1028px) {
    .title-image{
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
}

/*FOOTER*/
#footer{
    text-align: center;
    color: grey;
    padding: 5%;
}

.fa-icons{
   padding: 0.5rem; 
   
}

.fa-icons:hover{
    color: #ff4c68;
}
